body {
    color: white;
    background-color: #212121;
    text-align: center;
}

h1 {
    color: #8855DD;
    font-size: 36px;
}

h2 {
    color: gold;
}

p {
    padding: 2% 10%;
    padding-top: 10px;
    font-size: 20px;
}

a {
    color: gold;
}

.board {
    margin-bottom: 2%;
    padding-top: 2%;
    display: inline-block;
    height: 60%;
    width: 50%;
    background-color: #424242;
    border-radius: 10px;
}

.card {
    display: inline-flex;
    height: 25%;
    margin: 10px;
    width: 150px;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #E3E3E3;
    background-image: url("../imgs/bird-icon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.instructions,
.top {
    background-color: rgba(0, 0, 0, .5);
}

footer {
    padding: 1em;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

#span {
    color: teal;
}


/*media @(max-width=1065) {
     stop pushing the cards all over the place in a column
}*/
