body {
    text-align: center;
    background-color: black;
    color: floralwhite;
}

.card {
    height: 200px;
    width: 150px;
    border: 3px solid teal;
    background-color: teal;
    border-radius: 10px;
    float: left;
    margin: 8%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.instructions {
    margin: 0 5% 5% 5%;
    padding: 2%;
}

h1 {
    color: rgb(2, 132, 130);
    text-align: center
}

h2 {
    color: #ffd700;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

.board {
    height: 80%;
    width: 50%;
    display: inline-block;
    background-color: rgba(33, 33, 33, .6);
    margin-bottom: 10%;
}

nav {
    background-color: rgba(55, 33, 55, .5);
}

nav a {
    background-color: #ffbf00;
    color: #000;
    text-decoration: none;
    display: block;
    float: left;
    padding: 2%;
    font-size: 20px;
}

a:hover {
    background-color: #ee5f3c;
}

.dev a:hover {
    color: deeppink;
    background-color: rgba(33, 33, 33, 0);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.dev {
    background-color: rgba(33, 33, 33, .5);
    padding: 5px 5px;
    color: white;
}

.dev a {
    color: gold;
}

footer {
    font-size: 18px;
    color: black;
    background-color: gold;
    text-align: center;
    padding: 10px;
}


/* added to keep the card images a decent size */

img {
    height: 200px;
    width: 150px;
}
